<template name="layout">
  {{> Template.dynamic template=main}}
  <footer>
    <div class="container">
      <div class="row">
      	<div class="col-md-4 col-lg-4">
          <p>&copy; 仁美国际医疗（中国）</p>
        </div>
        <div class="col-md-5 col-lg-5">
          <p class="text-right">
            沈阳市大东区滂江街54号 德济医院3楼VIP门诊
          </p>
          <p class="text-right">
            <abbr title="Phone">电话预约就诊</abbr> 400-024-7120 |
            clinic@himagedoctor.com
          </p>
          <p class="text-right">
            <abbr title="Phone">投诉信箱</abbr> service@himagedoctor.com
          </p>
          <p class="text-right">
            <abbr title="charity">慈善合作联系信箱</abbr> qifeng@himagedoctor.com
          </p>
          <p class="text-right">
            辽ICP备15018408号－1
          </p>
        </div>
        <div class="col-md-3 col-lg-3">
          <p class="text-right"><img src="/images/qrcode.jpg"></p>
        </div>
      </div>
    </div>
  </footer>

</template>
