<template name="blog">
{{> nav}}

<section id="blog" class="home-section">
  {{#if currentUser}}
  <div id="meteor-blog" class="blog-single">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-8 col-md-offset-2">
          <article class="post">
            <h2>{{title}}</h2>
            <div class="post-meta">
              作者: {{authorName}} 发表日期: {{blogFormatDate publishedAt}}
              {{> blogTags }}
            </div>
            <div id="commentable-area" class="the-content">
              {{{html}}}
            </div>
          </article>
          <div class="blog-back-link pull-left">
            <a href="{{pathFor 'blogIndex'}}"><i class="fa fa-caret-left"></i>返回</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="alert alert-warning" role="alert">请注册登录就能看全部医学文章</div>

  {{/if}}
</section>
</template>