<template name="blogs">
	{{> nav}}

	<section id="blogs" class="home-section">
		{{#unless currentUser}}
		<div class="alert alert-info" role="alert">请注册登录就能看全部医学文章</div>
		{{/unless}}
		<div id="meteor-blog" class="blog-list">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						{{#each posts}}
						<article class="post">
							<h2>
								<a href="{{pathFor 'blogShow'}}">{{title}}</a>
							</h2>
							<div class="post-meta">
								仁美仁爱发表日期: {{formatDate publishedAt 'short'}}
								{{> blogTags }}
							</div>
							<div class="the-content">
								{{{excerpt}}}
							</div>
						</article>
						{{else}}
						This blog is looking pretty empty...
						{{/each}}
						{{blogPager}}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>