<template name="profile_edit">
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">
        <h1>仁美仁爱</h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/blog">医学文章</a></li>
        {{#if currentUser}}
          <li class="active"><a href="#">个人资料</a></li>
          {{#if isInRole 'admin' 'staff' 'faculty' 'nurse' 'blogAdmin'}}
          <li><a href="http://mail.himagedoctor.com">员工邮箱</a></li>
          <li><a href="https://www.icloud.com/">员工月历</a></li>
          {{/if}}
        {{/if}}
        {{> loginButtons}} 
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section id="profile-edit" class="home-section">

  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        {{#with profile}}
        <form role="form">
          <legend>个人资料</legend>
          <div class="form-group">
            <label for="fullname">姓名</label>
            <input type="text" id="fullname" name="fullname" value="{{fullname}}" class="form-control">          
          </div>
          <div class="form-group">
            <label for="phone">电话号码</label>
            <input type="text" id="phone" name="phone" value="{{phone}}" class="form-control">

          </div>
          <div class="form-group">
            <label for="address">地址</label>
            <input type="text" id="address" name="address" value="{{address}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="company">工作单位</label>
            <input type="text" id="company" name="company" value="{{company}}" class="form-control">

          </div>
          <div class="form-group">
            <label for="bio">关于自己</label>
            <textarea id="bio" name="bio" class="form-control">{{bio}}</textarea>
          </div>
          <button type="button" class="btn btn-primary submit">提交</button>
        </form>
        {{/with}}
      </div>
    </div>
  </div>
</section>
</template>