<template name="profile_edit">
{{> nav}}

<section id="profile-edit" class="home-section">

  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        {{#with profile}}
        <form role="form">
          <legend>个人资料</legend>
          <div class="form-group">
            <label for="fullname">姓名</label>
            <input type="text" id="fullname" name="fullname" value="{{fullname}}" class="form-control">          
          </div>
          <div class="form-group">
            <label for="phone">电话号码</label>
            <input type="text" id="phone" name="phone" value="{{phone}}" class="form-control">

          </div>
          <div class="form-group">
            <label for="address">地址</label>
            <input type="text" id="address" name="address" value="{{address}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="company">工作单位</label>
            <input type="text" id="company" name="company" value="{{company}}" class="form-control">

          </div>
          <div class="form-group">
            <label for="bio">关于自己</label>
            <textarea id="bio" name="bio" class="form-control">{{bio}}</textarea>
          </div>
          <button type="button" class="btn btn-primary submit">提交</button>
        </form>
        {{/with}}
      </div>
    </div>
  </div>
</section>
</template>