<template name="trainingLong">
  <nav class="navbar navbar-custom navbar-home navbar-fixed-top" role="navigation">
    <div class="container">
      {{> navbarHeader}}
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="#intro">长期培训简介</a></li>
          <li><a href="#course">课程介绍</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">全科培训 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/training-long">长期培训</a></li>
              <li><a href="/training-short">短期培训</a></li>
              <li><a href="/faculty">师资介绍</a></li>
              <li><a href="/students">学生介绍</a></li>
              <li><a href="/partners">合作医院</a></li>
              <li><a href="/join">加入我们</a></li>
            </ul>
          </li>
          {{> loginButtons}}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <section id="intro" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>长期培训简介</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>仁美国际医疗（中国）多年来致力于全科医生培训项目。由美国家庭医师协会会员负责专业全科教学。创建至今，先后在北京就、上海、广州、南京、武汉、郑州、长春、大连等地开展全科培训。2005—2013年协助国家卫生部培训全科师资力量，目前为中国医科大学全科医生实习基地。</p>
          <p><strong>培训时间</strong>：3年</p>
          <p><strong>培训方式</strong>：<br />
            <ul class="text-left">
              <li>外籍医师一对一指导教学</li>
              <li>三甲级医院科室轮转</li>
              <li>短期国际门诊进修学习</li>
              <li>全国及国际医学学术会议培训</li>
              <li>部分出国访问学习</li>
            </ul>
          </p>
          <p><strong>培训后发展方向</strong>: <br />
            <ul class="text-left">
              <li>仁美连锁门诊从事医生或管理工作</li>
              <li>推荐参加美国全科医生培训项目，考取美国医生执照</li>
              <li>推荐至国际门诊或医院工作</li>
              <li>外国驻中国使领馆或国际企业驻场医生</li>
              <li>国际旅行团队及国际保险企业的责任医生及医疗顾问</li>
              <li>综合医院全科诊室工作</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="course" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>课程介绍</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            全科医学又称家庭医学（General Medicine/Family Medicine），正式建立于20世纪60年代，是一个面向社区与家庭，整合临床医学、预防医学、康复医学以及人文社会学科相关内容于一体的综合性临床二级专业学科；其范围涵盖了各种年龄、性别、各个器官系统的各类健康问题/疾病。经过该专业培训出来的全科医生主要工作在社区，为社区居民提供以人为中心、以家庭为单位、以整体健康的维护与促进为方向的长期负责式照顾，并将个体与群体健康照顾融为一体。全科医学专科医师培养阶段为三年。
          </p>
          <p>
            下载培训内容
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
