<template name="trainingShort">
  <nav class="navbar navbar-custom navbar-home navbar-fixed-top" role="navigation">
    <div class="container">
      {{> navbarHeader}}
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#course">短期培训课程介绍</a></li>
          <li><a href="#schedule">课程安排</a></li>
          <li><a href="#requirement">课程要求</a></li>
          <li><a href="#exam">课程考核</a></li>
          <li><a href="#application">申请方式</a></li>
          <li><a href="/training-long">长期培训</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <section id="course" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>短期培训课程介绍</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>INMED 国际医药公共卫生综合课程</h3>
          <p>
            当今医学早已是全球性的行业，因为疾病、医疗资源、医疗人员、医疗合作伙伴跨越了各大州。借助仁美----美国全科医生和哈弗医疗中心的平台，通过INMED 国际医药公共卫生综合课程在医疗领域上预备好自己！
          </p>
          <p>
            <ul class="text-left">
              <li>课程有助于推进中国医生的职业生涯</li>
              <li>由美国大学、移民局和住院医生培训项目共同认可授权的学历证书</li>
              <li>有机会同美国的全科医生导师学习</li>
              <li>提升对美国和国际医疗服务标准的能力</li>
              <li>加强临床技能，在中国做全科医生的带领者</li>
            </ul>
          </p>
          <p><strong>该课程由众多重要的医疗机构参与</strong>：<br />
            <ul class="text-left">
              <li>哈佛大学</li>
              <li>纽约大学</li>
              <li>匹兹堡大学</li>
              <li>德克萨斯大学达拉斯分校</li>
              <li>美国家庭医生学院</li>
              <li>美国急诊医学学院</li>
              <li>美国小儿科学院</li>
              <li>加拿大皇家外科医师学院</li>
            </ul>
            <div class="text-left">
              随着课程的学习，英语导师的帮助，你的英语可以得到提升成为一名全球化的医生，请加入INMED 国际医药和公共卫生综合课程
            </div>
          </p>
          <p><strong>课程目标</strong>： <br />
            完成NMED 国际医疗和公共卫生综合课程，学生在资源匮乏的地区/社区也会具备如下能力：<br />
            <ul class="text-left">
              <li>贫困落后引发的疾病的预防、诊断和治疗</li>
              <li>HIV传染的预防、诊断和治疗</li>
              <li>对孕妇和新生儿提供健康帮助</li>
              <li>在资源匮乏的地区使用高效的临床技能</li>
              <li>健康理念的广泛普及，预防致残致死的发生</li>
              <li>适合其文化的卫生保健</li>
              <li>降低灾害指数，应对灾害措施</li>
              <li>培养团队领导在健康问题的计划和执行力</li>
            </ul>
          </p>
          <p><strong>课程设计</strong>： <br />
            课程体系是综合性的，20周网上授课，2天的实体班级授课、技能培训及考评。课程重心在于如下内容：<br />
            <ul class="text-left">
              <li>贫困落后地区的疾病</li>
              <li>国际HIV药物</li>
              <li>妇女和儿童的健康</li>
              <li>临床技能在资源匮乏地区的使用</li>
              <li>国际公共卫生</li>
              <li>跨文化技能</li>
              <li>灾害救治处理能力</li>
              <li>国际健康问题的领导力</li>
            </ul>
          </p>
          <p><strong>课程辅导资料</strong>： <br />
             《发展中国家医疗手册》第三版 <br />
             作者：Dennis Palmer，DO 和Catherine E.Wolf，MD<br />
             出版社：基督医疗牙科协会 <br />
             458页，2013 <br />
             《INMED 国际医疗及公共卫生》 <br />
             作者： Nicholas Comninellis,MD,MPH.<br />
             出版处：国际医疗协会，2012年400页 <br />
           </p>
           <p><strong>课程时间</strong>：线上授课总计时间45小时，实体班型授课为24小时 <br />
             <strong>学生问答时间</strong>：学生每周有5到10小时参与网上课堂问题：问答论坛是可以为学生们答疑 <br />
             <strong>电脑要求</strong>：每一个学生要有自己专属的电脑，实现网上听课的任务，参与实体班型的授课及参与期末考试。
           </p>
        </div>
      </div>
    </div>
  </section>

  <section id="schedule" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>课程安排</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>网络课程</h3>
          <p><strong>每周课程任务</strong>:</p>
          <p>
            线上医疗课程前两周：贫困落后地区的疾病，第一部分，2016年2月22到3月6日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：贫困落后地区的介绍</li>
            <li>模块二：营养失调</li>
            <li>模块三：肠道感染</li>
            <li>模块四：病毒性疾病</li>
            <li>模块五：疟疾</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如参下任务：
          </div>
          <ul class="text-left">
            <li>与INMED 贫困落后地区疾病的课程，完成模块1-5</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成综合管理原则的练习#1</li>
          </ul>
          <hr />
          <p>
            医疗在线课程的第3和第4周：贫困落后地区的疾病，第二部分，3月7日到3月20日 内容：
          </p>
          <ul class="text-left">
            <li>模块六：肺结核</li>
            <li>模块七：细菌感染</li>
            <li>模块八：原发病</li>
            <li>模块九：肠道寄生虫感染</li>
            <li>模块十：寄生虫组织感染</li>
            <li>模块十一：疾病处理草案</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>与INMED 贫困落后地区疾病的课程，完成模块6-11</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上任务的讨论</li>
            <li>完成综合处理草案提出练习 #2</li>
          </ul>
          <hr />

          <p>医疗在线课程的第5和第6周：国际艾滋病药物，3月21到4月3日 内容: </p>
          <ul class="text-left">
            <li>模块一：介绍艾滋病的流行</li>
            <li>模块二：艾滋病的预防</li>
            <li>模块三：母婴传播的预防</li>
            <li>模块四：艾滋病的治疗</li>
            <li>模块五：艾滋病相关性疾病</li>
            <li>模块六：儿童和艾滋病的感染</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 国际艾滋病的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成国际艾滋病问题的回答</li>
          </ul>
          <hr />

          <p>网上医疗课程第7和第8周：妇儿的健康；4月4日及4月17日 内容：</p>
          <ul class="text-left">
            <li>模块一：孕妇的生存</li>
            <li>模块二：产前产后的照顾</li>
            <li>模块三：妊娠并发症</li>
            <li>模块四；不孕不育问题</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 新生儿的课程</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成产后孕妇护理练习</li>
          </ul>
          <hr />

          <p>
            网上医疗课程第9到10周：新生儿健康：新生儿：4月18日-5月1 内容：
          </p>
          <ul class="text-left">
            <li>模块五：新生儿照顾概述</li>
            <li>模块六：健康的新生儿</li>
            <li>模块七：新生儿问题及处理</li>
            <li>模块八：新生儿将来问题</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 新生儿的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成新生儿照顾练习</li>
          </ul>
          <hr />
          <p>
            网上公共健康周第11和12周：国际公共卫生，5月2日-5月15日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：国际公共卫生简介</li>
            <li>模块二：健康和社会环境</li>
            <li>模块三：健康策略</li>
            <li>模块四：有效促进健康</li>
            <li>模块五：有效的疾病和伤害防御措施</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 公共健康的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成个人的健康危险系数评估练习</li>
          </ul>
          <hr />

          <p>
            网上公共健康周第13-14周，灾后的处置，5月16-29日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：灾害处置的整体介绍</li>
            <li>模块二：灾后病情减轻处置</li>
            <li>模块三：灾前的准备</li>
            <li>模块四：灾害应对</li>
            <li>模块五：灾后恢复</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 灾害医疗处置的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成个人灾害准备的练习</li>
          </ul>

          <hr />
          <p>
            网上公共健康课第15周和16周：跨文化技巧，5月30日-6月12日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：文化间的相关性</li>
            <li>模块二：基础性的跨文化资质</li>
            <li>模块三 ：跨文化的健康资质</li>
            <li>模块四：国际间文化资质</li>
          </ul>
            周日晚上11:55分之前完成如下任务： <br />
          <ul class="text-left">
            <li>参与INMED 跨文化间资质的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成所选择的跨文化间健康案例的学习</li>
          </ul>
          <hr />
          <p>
            网上公众健康课的第17和18周：国际健康领导力，6月13-26日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：国际健康领导力的介绍</li>
            <li>模块二：健康策略</li>
            <li>模块三：主要国际健康的首创精神</li>
            <li>模块四：如何构建健康系统</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 国际健康领导力的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成所选择的国际健康领导力案例的学习</li>
          </ul>

          <hr />
          <p>
            网上公共健康课第19-20周，理论和实践技能的转换，6月27-7月10日 内容：
          </p>
          <ul class="text-left">
            <li>模块一：技能传递的重要性</li>
            <li>模块二：教学策略</li>
            <li>模块三：教学本质</li>
            <li>模块四：怎样测算学习效果</li>
          </ul>
          <div class="text-left">
            周日晚上11:55分之前完成如下任务：
          </div>
          <ul class="text-left">
            <li>参与INMED 国际健康领导力的课程，完成针对此项的期末考试</li>
            <li>阅读指定文章</li>
            <li>完成讨论题板上的各自任务</li>
            <li>完成所选择的国际健康领导力案例的学习</li>
          </ul>
        </div>
        <hr />

        <h3>实体班授课</h3>
        <p><strong>7月18日的课程安排</strong></p>
        <ul class="text-left">
          <li>8:00 国际医药公共卫生的综合课程总体性的介绍</li>
          <li>8:30 防御落后地区的疾病问题</li>
          <li>9:30新生儿照顾和辅助呼吸技能</li>
          <li>10:30产科技能讲堂</li>
          <li>12:30 国际医学考试回顾</li>
          <li>1:30 F-100方程式练习</li>
          <li>1:30 缝合和石膏技能讲堂</li>
          <li>3：30 典型案例学习</li>
          <li>4:30国际医疗课程考试</li>
          <li>6:00 同学们聚餐</li>
        </ul>
        <p><strong>7月19日的课程安排</strong></p>
        <ul class="text-left">
          <li>8:00 国际公共卫生的课程的介绍及握手联系</li>
          <li>8:30 从营救到平复</li>
          <li>9:30 口服补液配方</li>
          <li>9:30 口服补液配方</li>
          <li>9:30 集体合影</li>
          <li>10:00灾害管理技能</li>
          <li>11：00 跨文化技能讲堂</li>
          <li>11:20 国际公共卫生回顾</li>
          <li>12:30贫困群体的饮食</li>
          <li>1:30 社区健康调查练习</li>
          <li>3:30 开创属你的国际健康事业大讲堂</li>
          <li>4:30 国际公共卫生课程考试</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="requirement" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>课程要求</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p><strong>任务</strong>：随之而来的部分是解释不同的任务要求和成效期望值，根据课程的评估给予整体评价。</p>
          <p><strong>到期日</strong>：所有的任务截止到当周的周日晚上11:55分。如果任务不能及时完成，请联系导师做恰当性的调整。</p>
          <p><strong>专业要求</strong>：这是一门专业性课程。任务是要求以专业的态度去完成的。</p>
          <p><strong>主观学习</strong>：学生需要知道课程内容的相关性，包括课前测试和课后检测，还有每周的课程作业。</p>
          <p><strong>指定的文章</strong>：每周会有两篇指定的文章，要求学生阅读并回答相应的两个问题。而且至少还要表达他与一位同学推送所陈述问题的观点，赞同还是反对，并解说理由。</p>
          <p><strong>个人参与的讨论板块</strong>：参与讨论平台，就是希望学生们积极踊跃的参与到讨论环节，拥有大量的内容并进行深度讨论。 每周的讨论评分结果会参考每一个学生在讨论中体现的量和质两方面进行。如果任务邮件，仅仅是简单的同意字样，这样的参与不算，视为没有参与！鼓励学生提出问题及彼此间的评论，从而加强课程间的交流。</p>
          <p><strong>主观练习</strong>：每周学生都会要完成指定练习，相应练习要运用所学的知识。完成后要上传给导师。</p>
          <p><strong>参与实体班授课的活动</strong>：讨论环节和实践技能在网上环境下无法完成！所以需要实体班级授课。</p>
        </div>
      </div>
    </div>
  </section>

  <section id="exam" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>课程考核</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p><strong>期末考试</strong>：
            期末考试分为两部分，国际医疗和国际公共健康。每一项考试有50-80到多项选择题构成。为了更好的复习这些考试，就要掌握这些课程内容。
          </p>
          <p><strong>课程分数的构成</strong>:</p>
          <ul class="text-left">
            <li>25% 课后及测评</li>
            <li>25% 讨论平台的参与</li>
            <li>25% 课后练习</li>
            <li>25% 参与实体授课的活动</li>
          </ul>
          <p><strong>评分等级和证书</strong>：基于80分，我们授予通过和未通过。学生要在课程分数构成和国际医疗及国际公共健康期末考试双项中均要通过80%，方可获得由国际医疗和公共健康协会颁发的INMED学术证书。
            <br/>
            没有获得次证书的学生可以得到参与此次学习的证书，还会有其他弥补的机会。
          </p>
          <p><strong>学术诚信政策</strong>：所有的学生必须在学术学习上诚实和诚信的态度。伪造他人研究结果，窃取他人言论或理念，学习任务中抄袭，或允许或辅助他人采用以上手段都视为腐败，未执行学生诚信政策。学生们要求 独立完成作业，既不给予也不要接收非官方的帮助
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="application" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>申请方式</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            <strong>中国大陆联系方式</strong><br />
            <strong>邮箱</strong>：clinic@himagedoctor.com<br />
            <strong>电话</strong>：13109862856 <br />
            <strong>学费</strong>：2000美元（人民币13200元)
          </p>
        </div>
      </div>
    </div>
  </section>


</template>
