<template name="trainingLong">
  <nav class="navbar navbar-custom navbar-home navbar-fixed-top" role="navigation">
    <div class="container">
      {{> navbarHeader}}
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="#intro">长期培训简介</a></li>
          <li><a href="#faculty">师资介绍</a></li>
          <li><a href="#students">学生介绍</a></li>
          <li><a href="#partners">合作医院</a></li>
          <li><a href="/training-short">短期培训</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <section id="intro" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>长期全科培训简介</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>仁美国际医疗（中国）多年来致力于全科医生培训项目。由美国家庭医师协会会员负责专业全科教学。创建至今，先后在北京就、上海、广州、南京、武汉、郑州、长春、大连等地开展全科培训。2005—2013年协助国家卫生部培训全科师资力量，目前为中国医科大学全科医生实习基地。</p>
          <p><strong>培训时间</strong>：3年 (下载培训内容, 课程表)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><strong>培训方式</strong>：<br />
            <ul class="text-left">
              <li>外籍医师一对一指导教学</li>
              <li>三甲级医院科室轮转</li>
              <li>短期国际门诊进修学习</li>
              <li>全国及国际医学学术会议培训</li>
              <li>部分出国访问学习</li>
            </ul>
          </p>
        </div>
        <div class="col-md-6">
          <p><strong>培训后发展方向</strong>: <br />
            <ul class="text-left">
              <li>仁美连锁门诊从事医生或管理工作</li>
              <li>推荐参加美国全科医生培训项目，考取美国医生执照</li>
              <li>推荐至国际门诊或医院工作</li>
              <li>外国驻中国使领馆或国际企业驻场医生</li>
              <li>国际旅行团队及国际保险企业的责任医生及医疗顾问</li>
              <li>综合医院全科诊室工作</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row">
        <div id="training_container" class="slider-container">
          <!-- Slides Container -->
          <div u="slides" class="slider">
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418738404/doctors_mf9ynu.jpg" /></div>
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418737865/training1_ynp5sg.jpg" /></div>
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418737902/training2_lqjobc.jpg" /></div>
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418737896/training3_behj35.jpg" /></div>
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418737856/training4_mba9is.jpg" /></div>
            <div><img u="image" src="http://res.cloudinary.com/ds833mgxf/image/upload/v1418737854/training5_ogymnz.jpg" /></div>
          </div>

          <!-- Arrow Navigator Skin Begin -->

          <!-- Arrow Left -->
          <span u="arrowleft" class="jssora01l" style="width: 55px; height: 55px; top: 122px; left: 8px;"></span>
          <!-- Arrow Right -->
          <span u="arrowright" class="jssora01r" style="width: 55px; height: 55px; top: 122px; right: 8px;"></span>
          <!-- Arrow Navigator Skin End -->
        </div>
      </div>
    </div>
  </section>

  <section id="faculty" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>师资介绍</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Peter Burgos MD</h5>
              <div class="subtitle">石磊 医学博士</div>
              <div class="avatar"><img src="/images/faculty/peter.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>石磊医生来自美国，1991年毕业于美国堪萨斯医学院，医学博士学位，是美国家庭医生协会会员，拥有美国医学委员会执照。伯格斯医生在全科医学方面有着20多年的工作经验，多次参加中国和外国的国际医疗援助活动，可以用流利的英语，汉语，西班牙语与病人交流。</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Carlton Baer MD</h5>
              <div class="subtitle">卡尔顿.贝尔 医学博士</div>
              <div class="avatar"><img src="/images/faculty/carlton.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>贝尔医生1990年毕业于弗吉尼亚医学院，获得医学博士学位。在1993年在俄亥俄州阿克伦完成家庭医生培训。他是美国家庭医师学会会员。在美国、非洲和中国从事全科医学工作18年。贝尔医生可以用熟练的英语，法语和中文进行交流。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Brian Holsinger MD</h5>
              <div class="subtitle">布莱恩. 霍尔辛格 医学博士</div>
              <div class="avatar"><img src="/images/faculty/brian.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>霍尔辛格医生来自美国，于1995年毕业于俄亥俄州大学骨科医学院，1996年在美国俄亥俄州代顿市医院完成实习。并于1999年完成了美国俄克拉荷马州塔尔萨医疗中心家庭医生培训。霍尔辛格医生也是美国家庭医师学会的会员。在美国和中国有近20年的家庭医生工作经验。他能用熟练的英语和简单的中文沟通和交流。</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Heather Anderson MD</h5>
              <div class="subtitle">希瑟.安德森 医学博士</div>
              <div class="avatar"><img src="/images/faculty/heather.jpg" alt="" class="img-responsive img-circle" width="350" height="470"/></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>安德森医生来自美国，毕业于霍顿学院获得理学学士学位，并在达特茅斯医学院获得医学博士学位。在苏福尔斯的家庭医学住院医生培训基地完成了全科医学住院医生的培训。是美国家庭医师学会的会员。安德森医生可以用流利的英语，西班牙语交流。目前正在学习中文。</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Sunny Wong MD</h5>
              <div class="subtitle">黃日正 医学博士</div>
              <div class="avatar"><img src="/images/faculty/sunny.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>黄日成医生来自加拿大，2002年毕业多伦多大学医学专业。2004年在卡尔加里大学完成了家庭医学住院医生培训。他是加拿大家庭医师学院认可的家庭医生。过去10年里，他的兴趣领域是治疗住院病人，他在加拿大和国际的国际门诊工作过。英语流利，法语和粤语，普通话能进行工作性交流。</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Eva Holsinger MD</h5>
              <div class="subtitle">爱娃. 霍尔辛格 儿科医生</div>
              <div class="avatar"><img src="/images/faculty/eva.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            霍尔辛格医生来自美国，毕业于美国奥克拉荷马州塔尔萨大学，获得化学学士学位。并在奥克拉荷马州州立大学获得医学博士学位。接着她完成儿科博士后学习，来中国之前，她在美国俄亥俄州阿克伦儿童医院从事儿科医生和医学院儿科系的助理教授工作 。霍尔辛格医生可以用流利的英语、德语、挪威语和中文交流。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Karen Baer MD</h5>
              <div class="subtitle">凯伦.贝尔 眼科医生</div>
              <div class="avatar"><img src="/images/faculty/karen.png" alt="" class="img-responsive img-circle" width="350" height="470"/></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            贝尔医生来自美国，于弗吉尼亚州威廉姆和玛丽学院获得生物学学士学位后在弗吉尼亚医学院获得医学博士学位。并在俄亥俄州凯斯西储大学眼科从事住院医生工作。是美国西弗吉尼亚州的执业医生。过去二十年间贝尔医生先后在美国、非洲、中国从事眼科工作。她可以用英语交谈，目前正在学习汉语。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>谷建医生</h5>
              <div class="subtitle">谷建医生</div>
              <div class="avatar"><img src="/images/faculty/gu.png" alt="" class="img-responsive img-circle" width="350" height="470" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            谷建毕业于中国医科大学，拥有中国全科医学主治医师妇产科主治医师执照，硕士研究生学历。2002年加入仁美国际医疗中心从事全科医疗工作，2006年顺利完成全科培训项目，目前为仁美全科培训项目教师。
          </p>
        </div>
      </div>

    </div>
  </section>

  <section id="students" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>学生介绍</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>孙晓佳医生</h5>
              <div class="avatar"><img src="/images/students/xiaojie.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            孙晓佳毕业于锦州医学院，来仁美国际医疗中心以前在北京305医院工作。2010年加入仁美。多次参加国际医疗援助。孙医生也是美国驻沈阳领事馆的责任医生。可以用流利的英语和中文交谈。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>李楠楠医生</h5>
              <div class="avatar"><img src="/images/students/nannan.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            李楠楠毕业于中国医科大学，拥有中国医师执照，2010年加入仁美国际医疗中心从事全科医疗工作，多次参加国际医疗援助活动及社会慈善活动。在中国全科医学杂志发表论文多篇。李楠楠医生可以用流利的中文和英语进行交流。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>马驰医生</h5>
              <div class="avatar"><img src="/images/students/machi.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            马驰毕业于佳木斯医学院，后在仁美接受三年美式医学考核学习，拥有中国医师执照，在仁美国际医疗中心从事全科医学工作。同时肩负沈阳儿童福利院医疗顾问工作。经常到福利院和医疗卫生单位开展讲座或者教授儿科医疗知识。可以用流利的中文和英语进行交流。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>刘巧玲医生</h5>
              <div class="avatar"><img src="/images/students/qiaoling.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            刘巧玲2007-2012年就读于北华大学临床医学专业并获得医学学士学位。2012年开始，加入美国仁美医疗中心的全科住院医师培训。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>王旭医生</h5>
              <div class="avatar"><img src="/images/students/wangxu.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            王旭毕业于保定医学院，先后在河北，云南，辽宁等地工作10余年。拥有中国医师执照，2014年加入仁美从事全科医学工作。可以用中文和简单的英语进行交流。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>吴秉宪医生</h5>
              <div class="avatar"><img src="/images/students/bianxian.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            吴秉宪医生来自于台湾，毕业于北京大学医学部临床医学专业并获得医学学士学位。后来参加英国爱丁堡大学的医学培训课程。2014年开始，加入美国仁美医疗中心的全科住院医师培训。吴医生可以用流利的英文、中文和闽南语进行交流。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>刘晓庆医生</h5>
              <div class="avatar"><img src="/images/students/xiaoqing.png" alt="" class="img-responsive img-circle" width="350" height="470" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            刘晓庆1998-2003年就读于浙江大学医学院临床医学专业并获得医学学士学位，2007-2010年就读于浙江大学医学院临床医学专业获得医学硕士学位。2003-205年在第三军医大学附属新桥医院神经外科工作，2005-2007年在同济大学附属同济医院神经内科工作，2010-2014年浙江大学附属二院麻醉科工作。2014年开始，加入美国仁美医疗中心的全科住院医师培训。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>张霄蕾医生</h5>
              <div class="avatar"><img src="/images/students/qiaolei.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            张霄蕾2003-2008年就读于中国医科大学临床医药学院临床医学专业并获得医学学士学位。2009-2012年就读于中国医科大学神经病学专业并获得医学硕士学位。2013年在中国人民解放军202医院神经内科从事医疗工作。2015年开始，加入美国仁美医疗中心的全科住院医师培训。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>赵宝宝医生</h5>
              <div class="avatar"><img src="/images/students/baobao.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            赵宝宝2001年毕业于沈阳医学院临床医学专业，拥有中国执业医师资格，2006年10月至2008年五月在仁美国际医疗中心工作。2011年毕业于中国医科大学急诊医学专业，现工作于苏家屯区中心医院急诊科。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>温宇医生</h5>
              <div class="avatar"><img src="/images/students/wenyu.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            温宇拥有中国执业医师资格，2006年至2011年在仁美国际医疗中心工作。2011年毕业于中国医科大学急诊医学专业，现工作于苏家屯区中心医院急诊科。
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>于丹医生</h5>
              <div class="avatar"><img src="/images/students/yudan.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            于丹毕业于中国医科大学，硕士，拥有中国医师执照，2007年加入仁美国际医疗中心从事全科医疗工作，现工作于沈阳市胸科医院。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>刘丽医生</h5>
              <div class="avatar"><img src="/images/students/liuli.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            刘丽1999年毕业于大连医科大学，2000年考取中国医师执照，从事临床工作四年后就读于中国医科大学获取硕士学位。2009年加入仁美国际医疗中心从事全科医疗工作。目前在日本金泽医科大学综合内科做助理研究员。
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>王欢医生</h5>
              <div class="avatar"><img src="/images/students/wanghuan.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            王欢毕业于大连医科大学，拥有中国全科医学主治医师执照，硕士研究生学历。2007年加入仁美国际医疗中心从事全科医疗工作，担任赴澳大利亚出国签证体检指定医生，2011年顺利完成全科培训项目，后受聘于中国医科大学附属盛京医院全科特需门诊。
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>林海霞医生</h5>
              <div class="avatar"><img src="/images/students/haixia.png" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <p>
            林海霞毕业于锦州医学院，拥有中国医师执照，2009年加入仁美国际医疗中心从事全科医疗工作，多次参加国际医疗援助活动及社会慈善活动。于2013年，就职于中国医科大学附属盛京医院，从事全科医学工作至今。目前为全科医学主治医师。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="partners" class="home-section text-center">
    <div class="heading-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>合作医院</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/images/partners/hospital1.jpg" alt="hospital 1" />
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/images/partners/hospital2.png" alt="hospital 2" />
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/images/partners/gov_hospital.jpg" alt="government hospital" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/images/partners/hisimage.png" alt="In His Image" />
          </a>
        </div>
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/images/partners/inmed.png" alt="INMED" />
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
