<template name="userMenu">
	{{#if currentUser}}
    {{#if isInRole 'admin' 'webmaster' 'blogAdmin' 'doctor' 'staff' 'nurse'}}
      <li><a href="http://mail.himagedoctor.com">员工邮箱</a></li>
      <li><a href="/calendar">员工月历</a></li>
      {{#if isInRole 'admin' 'webmaster'}}
      	<li><a href="/webmaster">网页管理</a></li>
      {{/if}}
      {{#if isInRole 'admin' 'webmaster' 'blogAdmin'}}
        <li><a href="/admin/blog">文章管理</a></li>
      {{/if}}
    {{/if}}
    <li><a href="/profile">我的资料</a></li>
  {{/if}}
</template>